/*
  My chosen colours:
  Orange: I specifically chose a darker shade of orange. 
  I believe orange works for the purpose of this website because 
  it represents creativity and balance. Balance is one of the 
  things Indegenous peoples stand for and find important. Creativity
  is another key factor in Indegenous peoples lives as they express 
  their culture through creativity. Since Indegenous peoples play a 
  huge part in treaty 1, it made sense to include the orange.
  white: I chose a shade of white to incorporate into my webiste 
  because white represents goodness and humility. These two things
  are characteristics found common in the Indigenous peoples culture
  and since this is a website that focus heavily on them, i added the 
  shade of white as my background.
  Black: I chose a shade of black to add to my website as the font colour.
  I chose a shade of black because it is classic and it represents power,
  the treaty 1, could be seen as power in the sense that it shows to sides 
  of power coming together (the Crown and First Nations).
  Red: I chose red to add to my webiste because it fits the purpose of the 
  website in the sense that it is a color that represents action. The treaty 
  can be seen as action taken by the Crown and First Nations to have security
  of land and resources. 
  Grey: Grey is another color that represents balance, and balance is key in 
  the Indgenous peoples culture so it made sense to include grey.
*/

/* This will style all elements to have line spacing of 140% */
* {
  line-height: 140%;
}

/*
  This will style the html element (also known as the
  root element) to have a default font-size of 62.5%
  of the default font size for the browser. (comment from mr. Hardman)
*/
html {
  font-size: 62.5%;
}
/* 
  This styles the body of the web page to have a background color of #fffefe,
  which is off-white, using the background-color CSS property and a font color
  of #575658 using the color CSS property. The font size is set to 1.6 times 
  the size of the root element's font size, and to use the Times New Roman font
  before using the Times font. If neither font is available, the browser will use the
  default serif font.
*/
body {
  margin: 0;
  background-color: #fffefe;
  color: #575658;

  font-size: 1.6rem;
  font-family: "Times New Roman", Times, serif;
}

/* Nav bar of color #8a440f, with width of 100% and padding of 10px. */
nav {
  background-color: #8a440f;
  width: 100%;
  padding: 10px;
}

/* 
  The nav li display inline-block, with a margin of 10px and font size of 22px
*/
nav li {
  display: inline-block;
  margin: 10px;
  font-size: 22px;
}

/*
  The navigation link will display with a margin of 10px, padding of 20px,
  no text decoration, background colour of #f5f5f5, and text colour of #252422.
*/
.nav-link {
  margin: 10px;
  padding: 20px;

  text-decoration: none;
  background-color: #f5f5f5;
  color: #252422;

  /*
    A transition will occur when a user interacts with the nav links.

    It creates a transition for background color between #f5f5f5 and #252422
    that lasts 0.3 seconds. It slowly enters and exits the transition (because of ease-in-out).
    
    It also creates a transition for color between #252422 and #f5f5f5
    and that lasts 0.3 seconds. It slowly enters and exits the transition (because of ease-in-out).

    Inspiration for code and comment from Mr. Hardman
  */
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transitions: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/*
  Displays the link to change color when it is hovered on, click, or tabbed.
*/
nav a:hover,
nav a:focus {
  background-color: #252422;
  color: #f5f5f5;

  /* 
    An effect is achieved when the user interacts with the nav by adding a box shadow,
    and then moving the element on the x axis using the transform and translate properties
    so that it appears to grow out of the screen (gives the nav link more of a button appearance)

    Code and comment from webdesignerdepot.com
  */
  -webkit-box-shadow: 1px 1px #fffefe, 2px 2px #fffefe, 3px 3px #fffefe;
  -moz-box-shadow: 1px 1px #fffefe, 2px 2px #fffefe, 3px 3px #fffefe;
  box-shadow: 1px 1px #fffefe, 2px 2px #fffefe, 3px 3px #fffefe;
  -webkit-transform: translateX(-3px);
  -moz-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  -o-transform: translateX(-3px);
  transform: translateX(-3px);
}

/*
  The top and bottom of the main wil have margin of 1em.
  The right and left of the main will have margin of 2.5%. 
*/
main {
  margin: 1em 2.5%;
}

/*
  This styles all h1 tags to be center aligned and have a font size of 50 px.
*/
h1 {
  text-align: center;
  font-size: 50px;
}

/*
  This styles all sections elements on the web page to have a background color
  of #f5f5f5, sets the section to use the automatic width. Adds 10px of padding
  to the top and bottom of the section, as well as 20px of padding on the left
  and right. Finally, aligns the text center.
*/
section {
  background-color: #f5f5f5;
  width: auto;

  padding: 10px 20px;
  text-align: center;
}

/*
  This will display an outline around specific images with the class name
  of treaty1-img-outline. The border will be 5px with a solid colour of #8a440f
*/
.treaty1-img-outline {
  outline: 5px solid #8a440f;
}

/* The figcaptions will display with a font size of 20px */
figcaption {
  font-size: 20px;
}

/*
  This styles all spans on the web page to bold the text inside
  the span and change the text to be colour #8a440f.
*/
span {
  font-weight: bold;
  color: #8a440f;
}

/*
  This styles all div elements on the web page to have a background color
  of #f5f5f5, sets the div to use the automatic width. Adds 10px of padding
  to the top and bottom of the div, as well as 20px of padding on the left
  and right. Finally, aligns the text center. Internal styling that will display
  5% of margin on the top for the div.
*/
div {
  background-color: #f5f5f5;
  width: auto;

  margin-top: 5%;
  padding: 10px 20px;
  text-align: center;
}

/* This styles all p tags to have a font size of 24 px and color #252422. */
p {
  font-size: 24px;
  color: #252422;
}

/*
  h2 headings will be displayed with a font size of 25px and color #575658.
*/
h2 {
  font-size: 25px;
  color: #575658;
}

/*
  The top and bottom of the footer wil have margin of 1em.
  The right and left of the footer will have margin of 2.5%. 
*/
footer {
  margin: 1em 2.5%;
}

/*
  The element with the sources-links id will not have a list style.
  Also, the elements with the sources-links id will have font size of 22px.
*/
#sources-links {
  list-style: none;
  font-size: 22px;
}

/*
  This defines the colour #a02927 for the sources links.
*/
a {
  color: #a02927;
}

/*
  Displays the link to bold when it is hovered on, click, or tabbed.
*/
a:not(.nav-link):hover,
a:not(.nav-link):focus {
  font-weight: bold;
}
